@model CC.WebApp.ViewModels.About.AboutViewModel
@{
    ViewData["Title"] = "CC - About Us";
}

<div class="temlate-head-area">
    <div class="template-head-text">
        <p>
            Concrete consulting was founded by Eric Berglund.<br> The company has it's main focus in
            the
            construction business and specializes on concrete.
            We work with the big companies in the industry like Betongindustri AB, Thomas Betong AB.
            A lot of our work is connected to concrete production and concrete quality testing.
            Since we got the experience with different kind of tools used in the industry, we just
            recently
            started a small renting business as well.
        </p>
    </div>
    <div class="template-main-header">
        <p>About Us</p>
    </div>
</div>

<div class="template-sec-header">
    <p>Employees</p>
</div>

<div class="template-showcase-area">
    <div class="employee">
        <p class="template-img-title">CEO</p>
        <div class="template-img-container">
            <img src="~/images/e-berglund-ny.png" />
        </div>
    </div>
    @foreach (var employee in Model.Employees)
    {
        <div class="employee">
            <p class="template-img-title">@employee.Role</p>
            <div class="template-img-container">
                <img src="~/images/placeholder-img.png" />
            </div>
        </div>
    }
</div>