@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Concrete Consulting</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav shadow-lg align-self-end">
                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link" asp-controller="About" asp-action="About">About Us</a>
                <a class="nav-link" asp-controller="Tools" asp-action="Tools">Tools</a>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link" asp-controller="Profile" asp-action="Profile">My Tools</a>
                        <a class="nav-link login-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link login-link" asp-controller="Account" asp-action="Login">Login</a>
                    }
                }
            </div>
        </div>
    </div>
</nav>