/*IMPORTS*/
@import "home-style.css";
@import "about-us-style.css";
@import "tools-style.css";
@import "profile-style.css";
@import "page-template.css";
@import "admin-style.css";

/*FONTS*/
/* font-family: 'Cabin', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/*COLORS*/
/* 
light blue: #4ad7d1
red: #fe4a49
navy blue: #001730 
yellow: #ffbd07
*/

/*GENERAL*/
.page-background {
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

button {
    background-color: transparent;
    color: white;
    font-size: medium;
    border-radius: 2rem;
    border: 2px solid #4ad7d1;
}

a {
    text-decoration: none !important;
    color: white !important;
}

    a:hover {
        color: #4ad7d1 !important;
    }

li {
    list-style: none;
}

small {
    color: red;
}

.page-footer {
    position: fixed;
    bottom: 0;
    /*background-color: white;*/
    background-color: #001730;
    color: white;
    width: 100%;
    height: 65px;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}

/*NAVBAR*/
.navbar {
    height: 100px;
}

.navbar-brand {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 30px !important;
    color: rgb(20, 20, 20) !important;
}

.navbar-brand:hover {
    color: rgb(20, 20, 20) !important;
}

.plus-sign {
    color: #4ad7d1;
    font-weight: 700;
    margin-right: 0.2rem;
    font-size: 21px;
}

@media(min-width: 992px) {
    .navbar-nav {
        background-color: #001730;
        padding: 1rem 3rem 1rem 3rem !important;
        border-radius: 4rem;
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .login-link {
        margin-left: 1.5rem !important;
        border: 2px solid #4ad7d1 !important;
        border-radius: 2rem !important;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

@media(max-width: 991px) {
    .navbar-nav {
        background-color: #001730;
        border-radius: 1rem;
    }

    .nav-link {
        margin: 0 1.5rem;
    }

    .navbar-brand {
        font-size: 24px !important;
    }
}

.nav-link {
    color: white !important;
}

